@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 180 100% 22.5%;
    --primary-foreground: 210 40% 98%;
    --secondary: 122 34% 87%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 221.2 83.2% 53.3%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
    --primary: 217.2 91.2% 59.8%;
    --primary-foreground: 222.2 47.4% 11.2%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 224.3 76.3% 48%;
  }
}


@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.swiper-pagination-bullet {
  width: 7px !important;
  height: 7px !important;
  background: rgba(0,0,0,0.85) !important;
  scale: 0.925 !important;
}

.swiper-pagination-bullet-active {
  background: white !important;
  color: #fff;
  scale: 1 !important;
}

.loader {
  width: 40px;
  height: 20px;
  --c:no-repeat radial-gradient(farthest-side,#fff 93%,#0000); /* Cambiar color a blanco */
  background:
    var(--c) 0    0,
    var(--c) 50%  0,
    var(--c) 100% 0;
  background-size: 8px 8px;
  position: relative;
  top: 50%; /* Centrar verticalmente */
  transform: translateY(-20%); /* Centrar verticalmente */
  animation: l4-0 1s linear infinite alternate;
}
.loader:before {
  content: "";
  position: absolute;
  width: 8px;
  height: 12px;
  background: #fff; /* Cambiar color a blanco */
  left: 0;
  top: 0;
  animation: 
    l4-1 1s  linear infinite alternate,
    l4-2 0.5s cubic-bezier(0,200,.8,200) infinite;
}
@keyframes l4-0 {
  0%      {background-position: 0  100%,50% 0   ,100% 0}
  8%,42%  {background-position: 0  0   ,50% 0   ,100% 0}
  50%     {background-position: 0  0   ,50% 100%,100% 0}
  58%,92% {background-position: 0  0   ,50% 0   ,100% 0}
  100%    {background-position: 0  0   ,50% 0   ,100% 100%}
}
@keyframes l4-1 {
  100% {left:calc(100% - 8px)}
}
@keyframes l4-2 {
  100% {top:-0.1px}
}

body {
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

@layer base {
  html {
    @apply antialiased;
  }
}

@layer utilities {
  .backdrop-blur-sm {
    backdrop-filter: blur(8px);
  }
  .backdrop-blur-xl {
    backdrop-filter: blur(24px);
  }
  .bg-radial-gradient {
    background: 
      radial-gradient(circle at 25% 75%, #b8f0f0 0%, rgba(255, 255, 255, 0) 25%),
      /* Esto es para agregar solo el centro */
      /* radial-gradient(circle at center, #b8f0f0 0%, #FEFEFE 35%), */
      radial-gradient(circle at 75% 25%, #b8f0f0 0%, rgba(255, 255, 255, 0) 25%);
  }
}



.subscription-card {
  position: relative;
  overflow: hidden;
}

.subscription-card::before,
.subscription-card::after {
  content: '';
  position: absolute;
  inset: -2px;
  background: conic-gradient(
    from var(--angle),
    #6fecc7, /* Versión más clara de #007343 */
    #66a9e7, /* Versión más clara de #004eb4 */
    #588ab9, /* Versión más clara de #000873 */
    #63e0c7  /* Versión más clara de #009393 */
);


  border-radius: 1rem;
  z-index: -1;
  opacity: 0;
  transition: opacity 0.3s ease;
  animation: rotate-gradient 3s linear infinite;
}

.subscription-card::after {
  filter: blur(12px);
}

.subscription-card:hover::before,
.subscription-card:hover::after {
  opacity: 1;
}

@property --angle {
  syntax: '<angle>';
  initial-value: 0deg;
  inherits: false;
}

@keyframes rotate-gradient {
  to {
    --angle: 360deg;
  }
}
